* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  line-height: 1.8em;
  font-size: 15px;
  font-weight: 400;
  color: #181818;
}

.nav_btn {
  padding: 1.1em 1.5em;
  background: #ffffff;
  border: none;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffffff;
  margin: 6px;
  line-height: 1;
  box-shadow: 0 0 0 3em #b61984 inset;
  transition: all 500ms ease;
}

.nav_btn .dripicons {
  margin-right: 6px;
}

.nav_btn:hover, .nav_btn:focus {
  background: #ffffff;
  border: none;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 500;
  color: #b61984;
  box-shadow: 0 0 0 1px #b61984 inset;
}

.findCourse_btn {
  padding: 1.5em 60px;
  background: #ffffff;
  border: none;
  border-radius: 50px;
  font-size: 0.8em;
  font-weight: 500;
  color: #ffffff;
  margin: 30px 0;
  line-height: 1;
  letter-spacing: 1px;
  box-shadow: 0 0 0 3em #b61984 inset;
  transition: all 300ms ease;
}

.findCourse_btn:hover, .findCourse_btn:focus {
  background: #ffffff;
  border: none;
  color: #ffffff;
  font-size: 0.8em;
  font-weight: 500;
  color: #b61984;
  box-shadow: 0 0 0 1px #b61984 inset;
}

.footer_btn {
  padding: 1.5em 60px;
  background: #b61984;
  border: none;
  border-radius: 50px;
  font-size: 0.8em;
  font-weight: 500;
  color: #181818;
  line-height: 1;
  width: 100%;
  letter-spacing: 1px;
  box-shadow: 0 0 0 3em #ffffff inset;
  transition: all 300ms ease;
}

.footer_btn:hover, .footer_btn:focus {
  background: #b61984;
  border: none;
  color: #ffffff;
  font-size: 0.8em;
  font-weight: 500;
  color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff inset;
}

.findCourse_form {
  padding: 0 20px;
}

.findCourse_form .findCourse_form-bg {
  background-color: #ffffff;
  box-shadow: 0 30px 30px -10px #00000033;
  border-radius: 10px;
  padding: 0 25px 30px;
  /*the container must be positioned relative:*/
  /*hide original SELECT element:*/
  /*style the arrow inside the select element:*/
  /*point the arrow upwards when the select box is open (active):*/
  /*style the items (options), including the selected item:*/
  /*style items (options):*/
  /*hide the items when the select box is closed:*/
}

.findCourse_form .findCourse_form-bg h4 {
  margin: 40px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #191919;
}

.findCourse_form .findCourse_form-bg form .findCourse_seclect,
.findCourse_form .findCourse_form-bg form .findCourse_textarea,
.findCourse_form .findCourse_form-bg form .name,
.findCourse_form .findCourse_form-bg form .email {
  position: relative;
  margin-bottom: 15px;
}

.findCourse_form .findCourse_form-bg form i {
  position: absolute;
  left: 20px;
  top: 10px;
  color: #b61984;
  z-index: 50;
}

.findCourse_form .findCourse_form-bg form .name,
.findCourse_form .findCourse_form-bg form .email,
.findCourse_form .findCourse_form-bg form .message,
.findCourse_form .findCourse_form-bg form .language {
  padding: 20px 20px 20px 42px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0.8em;
  font-weight: 400;
  color: #181818;
}

.findCourse_form .findCourse_form-bg form .findCourse_seclect {
  border: none;
}

.findCourse_form .findCourse_form-bg form .findCourse_seclect .language {
  padding: 0 20px 0 36px;
  height: 40px;
}

.findCourse_form .findCourse_form-bg form .findCourse_seclect i {
  top: 7px;
  left: 17px;
}

.findCourse_form .findCourse_form-bg form .findCourse_textarea {
  border: none;
}

.findCourse_form .findCourse_form-bg form .findCourse_textarea .message {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px 20px 10px 42px;
}

.findCourse_form .findCourse_form-bg form .findCourse_textarea .message:focus-visible {
  box-shadow: 0 0 4px 0 #0000001a;
  border: 1px solid #0000004d !important;
}

.findCourse_form .findCourse_form-bg form .findCourse_textarea i {
  top: 10px;
  left: 17px;
}

.findCourse_form .findCourse_form-bg form .form-control:focus {
  box-shadow: 0 0 4px 0 #0000001a;
  border: 1px solid #0000004d;
}

.findCourse_form .findCourse_form-bg .findCourse_seclect {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  font-size: 0.8em;
  font-weight: 400;
  color: #181818;
}

.findCourse_form .findCourse_form-bg .findCourse_seclect i {
  font-size: 15px;
}

.findCourse_form .findCourse_form-bg .findCourse_seclect .language:focus {
  box-shadow: 0 0 4px 0 #0000001a;
  border: 1px solid #0000004d;
}

.findCourse_form .findCourse_form-bg .findCourse_seclect select {
  display: none;
}

.findCourse_form .findCourse_form-bg .select-selected {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px 36px 6px;
}

.findCourse_form .findCourse_form-bg .select-selected:after {
  position: absolute;
  content: "T";
  font-family: "dripicons-v2";
  top: 8px;
  right: 15px;
  color: #b61984;
  opacity: 0.5;
}

.findCourse_form .findCourse_form-bg .select-selected.select-arrow-active:after {
  position: absolute;
  content: "W";
  color: #b61984;
}

.findCourse_form .findCourse_form-bg .select-items div,
.findCourse_form .findCourse_form-bg .select-selected {
  color: #181818;
  padding-left: 36px;
  cursor: pointer;
  user-select: none;
  border-radius: 50px;
}

.findCourse_form .findCourse_form-bg .select-items {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 4px 0 #0000001a;
  border: 1px solid #00000010;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 60;
}

.findCourse_form .findCourse_form-bg .select-hide {
  display: none;
}

.findCourse_form .findCourse_form-bg .select-items div:hover,
.findCourse_form .findCourse_form-bg .same-as-selected {
  color: #b61984;
}

.footer_input {
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 8px;
  margin: 7.5px 0;
  text-align: center;
  background-color: #aa017e;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
}

.footer_input::placeholder {
  color: #ffffff;
}

.footer_input:focus, .footer_input:focus-visible {
  border: 1px solid white !important;
}

header {
  font-family: "Montserrat", sans-serif;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
}

header img {
  width: 80px;
  height: 80px;
}

header .navbar-light .nav_contact .fab {
  margin-left: 15px;
  font-size: 13.25px;
  font-weight: 400;
  color: #181818;
  transition: all 0.3s;
}

header .navbar-light .nav_contact .fab:hover {
  color: #b61984;
}

header .navbar-light .navbar-nav .nav-link {
  height: 80px;
  line-height: 80px;
  padding: 0 50px 0 0;
  transition: all 0.5s;
  font-size: 13px;
  font-weight: 600;
  color: #181818;
}

header .navbar-light .navbar-nav .nav-link:hover {
  color: #b61984;
}

.aboutUs {
  background-image: url("../img/yellow_top_wave_01.png");
  background-repeat: no-repeat;
  background-size: 90%;
  padding: 60px 0;
}

.aboutUs::after {
  content: "";
  background-image: url("../img/Violet_top_left_wave.png");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.aboutUs .aboutUs_title {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.aboutUs .aboutUs_title p {
  margin: 8.25px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #b61984;
}

.aboutUs .aboutUs_title h1 {
  line-height: 1.2;
  font-size: 3.8rem;
  font-weight: 700;
  color: #181818;
}

.experts {
  background-image: url("../../img/Wave_White_bottom_right_shape_01.png");
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #dcd1f0;
  padding-top: 30px;
}

.experts .col {
  padding: 0 20px;
}

.experts .col:hover .card {
  box-shadow: 0 30px 30px -10px #00000033;
}

.experts .col .card {
  border-radius: 10px;
  border: none;
  text-align: center;
  transition: all 0.5s;
}

.experts .col .card .card_img {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.experts .col .card .card_img img {
  transition: all 0.5s;
}

.experts .col .card .card_img img:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}

.experts .col .card p:first-of-type {
  font-size: 0.75rem;
  font-weight: 600;
  color: #b61984;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 7.875px;
}

.experts .col .card p:last-of-type {
  margin-bottom: 1em;
}

.experts .col .card h4 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  padding-bottom: 0, 4em;
  font-size: 1.55rem;
  font-weight: 700;
  color: #191919;
}

.experts .top {
  margin-bottom: 40px !important;
}

.findCourse {
  padding-top: 60px;
  background-image: url("../img/accent_bottom_wave_01.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: -1px;
}

.findCourse .findCourse_img {
  padding: 0 40px;
  margin: 60px 0 30px 0;
}

header {
  font-family: "Montserrat", sans-serif;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
}

header img {
  width: 80px;
  height: 80px;
}

header .navbar-light .nav_contact .fab {
  margin-left: 15px;
  font-size: 13.25px;
  font-weight: 400;
  color: #181818;
  transition: all 0.3s;
}

header .navbar-light .nav_contact .fab:hover {
  color: #b61984;
}

header .navbar-light .navbar-nav .nav-link {
  height: 80px;
  line-height: 80px;
  padding: 0 50px 0 0;
  transition: all 0.5s;
  font-size: 13px;
  font-weight: 600;
  color: #181818;
}

header .navbar-light .navbar-nav .nav-link:hover {
  color: #b61984;
}

footer {
  padding: 120px 0;
  background-image: url("../img/footer_background.jpg");
  background-position: bottom center;
  background-size: cover;
}

footer .container {
  padding: 0;
}

footer .footerContact_icon {
  margin-bottom: 80px;
}

footer .footer_contact,
footer .footer_link,
footer .footer_about,
footer .footer_newsletter {
  font-size: 0.9em;
  font-weight: 400;
  color: #ffffff;
}

footer .footer_contact li,
footer .footer_link li,
footer .footer_about li,
footer .footer_newsletter li {
  padding: 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

footer .footer_contact li:first-of-type,
footer .footer_link li:first-of-type,
footer .footer_about li:first-of-type,
footer .footer_newsletter li:first-of-type {
  padding: 0 0 12px 0;
}

footer .footer_contact a,
footer .footer_link a,
footer .footer_about a,
footer .footer_newsletter a {
  color: #ffffff;
}

footer .footer_contact a:hover,
footer .footer_link a:hover,
footer .footer_about a:hover,
footer .footer_newsletter a:hover {
  color: #ffffff;
  opacity: 0.8;
}

footer .footer_contact a:hover {
  color: #181818;
  opacity: 0.8;
}

footer .footer_newsletter {
  padding-left: 40px;
}

footer .footer_about {
  padding-left: 30px;
  padding-right: 10px;
}

footer .footer_link {
  padding-left: 20px;
  padding-right: 20px;
}

footer a {
  color: #ffffff;
}

footer a:hover {
  text-decoration: none;
}

footer i {
  margin-right: 12px;
}

footer li {
  list-style-type: none;
}

footer h5 {
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  font-size: 1.55rem;
  font-weight: 700;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */