.nav_btn {
    @include styleBTN($pd-13, $pd-14, $color-pink, $bd-1);
    @include styleText($fs-5, $fw-2,$color-white);
    margin: $mg-1;
    line-height: 1;
    transition: all 300ms ease;


    .dripicons {
        margin-right: 6px;
    }
    &:hover{
        @include styleBTNHover($color-white, $bd-1, $color-pink);
        box-shadow: 0 0 0 1px #b61984 inset;
    }
}