// color
$color-white: #ffffff;
$color-pink: #b61984;
$color-black1: #191919;
$color-black2: #181818;
$color-black3: #00000033;
$color-violet: #dcd1f0;


// font size
$fs-0: 15px;
$fs-1: 13px;
$fs-2: 0.75rem;
$fs-3: 0.8em;
$fs-4: 0.9em;
$fs-5: 0.9rem;
$fs-6: 1.1rem;
$fs-7: 13.25px;
$fs-8: 1.55rem;
$fs-9: 2.5rem;
$fs-10: 3.8rem;

//font weight
$fw-1: 400;
$fw-2: 500;
$fw-3: 600;
$fw-4: 700;

// font family
$ff: 'Montserrat', sans-serif;

// pading
$pd-1: 12px;
$pd-2: 15px;
$pd-3: 20px;
$pd-4: 25px;
$pd-5: 36px;
$pd-6: 40px;
$pd-7: 42px;
$pd-8: 50px;
$pd-9: 60px;
$pd-10: 120px;
$pd-11: 0.8em;
$pd-12: 1em;
$pd-13: 1.1em;
$pd-14: 1.5em;
$pd-15: 2em;
$pd-16: 30px;
$pd-17: 0,4em;
$pd-18: 40px;

// magin
$mg-1: 6px;
$mg-2: 8.25px;
$mg-3: 7.875px;
$mg-4: 15px;
$mg-5: 60px;
$mg-6: 40px;

// border
$bd-1: none;
$bd-2: 50px;
$bd-3: 3px;
$bd-4: 10px;






