.findCourse {
  padding-top: $pd-9;
  background-image: url("../img/accent_bottom_wave_01.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: $mg-7;
  .findCourse_img {
    padding: 0 $pd-18;
    margin: $mg-5 0 $mg-6 0;
  }
}
