footer {
  .container {
    padding: 0;
  }
  padding: $pd-10 0;
  background-image: url("../img/footer_background.jpg");
  background-position: bottom center;
  background-size: cover;
  .footerContact_icon {
    margin-bottom: $mg-8;
  }
  .footer_contact,
  .footer_link,
  .footer_about,
  .footer_newsletter {
    @include styleText($fs-4, $fw-1, $color-white);
    li {
      padding: 12px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      &:first-of-type {
        padding: 0 0 12px 0;
      }
    }

    a {
      color: $color-white;
      &:hover {
        color: $color-white;
        opacity: 0.8;
      }
    }
  }
  .footer_contact {
    a {
      &:hover {
        color: $color-black2;
        opacity: 0.8;
      }
    }
  }
  .footer_newsletter {
    padding-left: 40px;
  }
  .footer_about {
    padding-left: 30px;
    padding-right: 10px;
  }
  .footer_link {
    padding-left: 20px;
    padding-right: 20px;
  }

  a {
    color: $color-white;
    &:hover {
      text-decoration: none;
    }
  }
  i {
    margin-right: 12px;
  }
  li {
    list-style-type: none;
  }
  h5 {
    margin-bottom: 25px;
    font-family: $ff;
    line-height: 1.2;
    @include styleText($fs-8, $fw-4, $color-white);
  }
}
